.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    
}

.perfil__name{
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    margin-right:  150px;
    font-weight: bolder;
    color: #E390C8;
    text-shadow: 2px 2px 2px rgb(195, 0, 255);

}

